<div class="container-fluid">
    <hr>
    <!-- first row -->
    <div class="row">
        <div class="col-auto">
            <a href="https://www.linkedin.com/in/mpendulosibiya/" target="_blank" class="btn btn-outline-linkedin">
                LinkedIn</a>
        </div>
        <div class="col-auto">
            <a href="https://github.com/mpendulo-dev" target="_blank" class="btn btn-outline-dark">
                Github</a>
        </div>
        <div class="col-auto">
            <a href="https://twitter.com/mpendulo_real" target="_blank" class="btn btn-outline-twitter">
                Twitter</a>
        </div>
        <div class="col-auto">
            <a class="btn btn-outline-projects"
                routerLink="/projects">
                Projects</a>
        </div>
    </div>
    <!-- second row -->
    <!-- <div class="row py-4">
        <div class="col-auto">
            <button class="btn btn-primary">Do This</button>
        </div>
        <div class="col-auto">
            <button class="btn btn-primary">Do This</button>
        </div>
        <div class="col-auto">
            <button class="btn btn-primary">Do This</button>
        </div>
    </div> -->
</div>