/* LinkedIn custome style */
.btn-outline-linkedin {
    border-color: #0077B5;
    
}
.btn-outline-linkedin:hover {
    background-color: #0077B5;
    color: white;
}
/* Twitter custom style */
/* #08a0e9 */
.btn-outline-twitter {
    border-color: #08a0e9;
}
.btn-outline-twitter:hover {
    background-color: #08a0e9;
    color: white;
}

/* project link custom style */
.btn-outline-projects {
    border-color: #75E6DA;
}
.btn-outline-projects:hover {
    background-color: #75E6DA;
}