<div class="container-fluid">
    <hr>
    <!-- links to social platforms, github, and projects I worked on-->
    <div class="row">
        <div class="col-auto">
            <a href="https://www.linkedin.com/in/mpendulosibiya/" target="_blank" rel="noopener" class="btn btn-outline-linkedin">
                LinkedIn</a>
        </div>
        <div class="col-auto">
            <a href="https://github.com/mpendulo-dev" target="_blank" rel="noopener" class="btn btn-outline-dark">
                Github</a>
        </div>
        <div class="col-auto">
            <a href="https://twitter.com/mpendulo_dev" target="_blank" rel="noopener" class="btn btn-outline-twitter">
                Twitter</a>
        </div>
        <div class="col-auto">
            <a class="btn btn-outline-projects"
                routerLink="/projects">
                Projects</a>
        </div>
    </div>
</div>

