/* LinkedIn custome style */
.btn-outline-linkedin {
    border-color: #0077b5;
    color: #0077b5;
}

.btn-outline-linkedin:hover {
    background-color: #0077b5;
    color: white;
}

/* Twitter custom style */
/* #08a0e9 */
.btn-outline-twitter {
    border-color: #08a0e9;
    color: #08a0e9;
}

.btn-outline-twitter:hover {

    background-color: #08a0e9;
    color: white;
}

/* project link custom style */
.btn-outline-projects {
    border-color: #20c997;
    color: #20c997;
}

.btn-outline-projects:hover {
    background-color: #20c997;
    color: white;
}


/* mobile responsive - for small, medium and large phones */
@media (min-width: 0px) and (max-width: 480px) {
    .btn {
    padding-top: 5px;
    margin: 10px;
    width: 100px !important;
    }
    .row {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
