<!-- navigation bar component -->
<app-navbar></app-navbar>

<!-- projects that I have worked on -->
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4 mt-3 mb-4">
        <!-- Corona virus statistics application -->
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center text-bold">COVID19 API APP</h5>
                    <p class="card-text text-center">This application keeps track of the global <strong>corona
                            virus</strong> statistics with the use of a COVID19 API that is updated daily.
                        It was built with <strong>Angular2+</strong>,<strong>Bootstrap</strong> and the public corona
                        virus API.
                    </p>
                    <div class="row col d-flex justify-content-center">
                        <div class="col-auto">
                            <a href="https://corona-covid.netlify.app/" target="_blank"
                                class="btn btn-outline-primary">
                                View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center text-bold">Tsenga E-Commerce</h5>
                    <p class="card-text text-center">E-Commerce project in progress, it will allow a user to add items
                        to a cart and checkout. Planned stack is Angular2+, and Bootstrap. For the Back-End I will use NodeJS, Express and MongoDB for database.
                    <div class="row col d-flex justify-content-center">
                        <div class="col-auto">
                            <a href="https://tsenga-e.netlify.app/" target="_blank"
                                class="btn btn-outline-primary">
                                View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>