<!-- navigation bar component -->
<app-navbar></app-navbar>

<!-- projects that I have worked on -->
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4 mt-3 mb-2">
        <!-- Corona virus statistics application -->
        <div class="col">
            <div class="card">
                <img src="/assets/img/covid.png" class="card-img-top" alt="covid19-api-app" width="220px"
                    height="220px">
                <div class="card-body">
                    <h5 class="card-title text-center text-bold">COVID19 API APP</h5>
                    <p class="card-text text-center">This application keeps track of the global <strong>corona
                            virus</strong> statistics with the use of a COVID19 API that is updated daily.
                        It was built with <strong>Angular2+</strong>,<strong>Bootstrap</strong> and the public corona
                        virus API.
                    </p>
                    <div class="row col d-flex justify-content-center">
                        <div class="col-auto">
                            <a href="https://covid-api-2021.netlify.app/" target="_blank"
                                class="btn btn-outline-primary">
                                View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/assets/img/expand.png" class="card-img-top" alt="covid19-api-app" width="220px"
                    height="220px">
                <div class="card-body">
                    <h5 class="card-title text-center text-bold">COVID19 API APP</h5>
                    <p class="card-text text-center">This project has 5 panels with image background and header text,
                        initially the images are folded when you click on either image it zooms in the panel and
                        the images are displayed in a slider fashion.
                    </p>
                    <div class="row col d-flex justify-content-center">
                        <div class="col-auto">
                            <a href="https://mpendulo-dev.github.io/expanding-cards/" target="_blank"
                                class="btn btn-outline-primary">
                                View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>