<app-navbar></app-navbar>

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4 mt-5 mb-5">
        <div class="col">
            <div class="card">
                <img src="https://cdn.pixabay.com/photo/2017/01/08/13/58/cube-1963036__340.jpg" class="card-img-top" alt="..." width="260px" height="260px">
                <!-- https://freeimage.host/i/R5RCYX -->
                <div class="card-body">
                    <h5 class="card-title text-center">Project 1</h5>
                    <p class="card-text text-center">This is a longer card with supporting text below as a natural
                        lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://images.unsplash.com/photo-1494253109108-2e30c049369b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cmFuZG9tJTIwZm9vZCUyMHN0b3JlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" class="card-img-top" alt="..."
                width="260px" height="260px">
                <div class="card-body">
                    <h5 class="card-title text-center">Project 2</h5>
                    <p class="card-text text-center">This is a longer card with supporting text below as a natural
                        lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://cdn.pixabay.com/photo/2017/01/08/13/58/cube-1963036__340.jpg" class="card-img-top" alt="..."
                width="260px" height="260px">
                <div class="card-body">
                    <h5 class="card-title text-center">Project 3</h5>
                    <p class="card-text text-center">This is a longer card with supporting text below as a natural
                        lead-in to
                        additional
                        content.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://images.unsplash.com/photo-1494253109108-2e30c049369b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cmFuZG9tJTIwZm9vZCUyMHN0b3JlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" class="card-img-top" alt="..."
                width="260px" height="260px">
                <div class="card-body">
                    <h5 class="card-title text-center">Project 4</h5>
                    <p class="card-text text-center">This is a longer card with supporting text below as a natural
                        lead-in to
                        additional
                        content.</p>
                </div>
            </div>
        </div>
    </div>
</div>